@import "./variables/colors.scss";
@import "./variables/layout.scss";
@import "./variables/fonts.scss";
@import "../layout/layout.scss";
@import "./components/button/button.scss";

h1,
h2,
h3,
h4,
h5,
h6,
ul,
th,
tr,
span,
p {
  font-family: $font--primary;
}

a {
  text-decoration: none;
  a:hover {
    color: initial;
  }
}

button {
  background: none;
  border: none;
  outline: none;
}
