.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: 1fr;
  margin-bottom: $paddings--mobile;
  gap: 50px;
  &__title {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    width: 300px;
  }

  &__subtitle {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  &__text {
    font-size: 1rem;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: center;
  }
  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .lottie {
    display: none;
  }

  @media (min-width: $tablet) {
    margin-bottom: $paddings--tablet;

    &__title {
      font-size: 2rem;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: $paddings--desktop;
    display: grid;
    flex-direction: row;
    align-items: flex-start;
    gap: 200px;
    background-size: 100vw;

    display: flex;

    &__text {
      text-align: left;
      align-items: flex-start;
    }

    &__element {
      width: 60%;
    }

    &__title {
      width: 500px;
      font-size: 2rem;
    }

    .lottie {
      display: initial;
      width: 70%;
    }
  }

  @media (min-width: $desktop-large) {
    margin-bottom: $paddings--desktop-large;
    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 1.5rem;
    }
  }
}
