$color--light: #fff;
$color--pale: #fafafa;
$color--pale-gray: #c9c9c9;
$color--gray: #9e9d9d;
$color--dark: #333333;
$color--workshop: #2e6685bd;
$color--accent: #735394;
$color--talk: #9e3566;
$color--error: #832c33;
$color--teal: #009879;
