.layout {
  padding: 70px $paddings--mobile;

  @media (min-width: $tablet) {
    padding: 70px $paddings--tablet;
  }

  @media (min-width: $desktop) {
    padding: 70px $paddings--desktop;
  }

  @media (min-width: $desktop-large) {
    padding: 70px $paddings--desktop-large;
  }
}

body {
  margin: 0;
}
