.card {
  background: white;
  display: inline-grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  width: min-content;
  box-shadow: 0px 0px 26px -15px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 26px -15px rgba(0, 0, 0, 1);
  }

  border-radius: 30px;
  &__image-wrapper {
    display: flex;
    img {
      max-width: 300px;
      max-height: 350px;
      object-fit: contain;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
  }

  &__content {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 20px 20px;
    gap: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  &__summary {
    color: $color--dark;
    font-size: 14px;
    margin: 0;
  }

  &__meta {
    color: grey;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    svg {
      margin-right: 5px;
    }
  }

  &__title {
    font-size: 1.2rem;
    line-height: initial;
    margin: 0;
    font-weight: 500;
    color: $color--dark;
  }

  &__type {
    text-transform: lowercase;
    &--workshop {
      color: $color--workshop;
    }

    &--talk {
      color: $color--talk;
    }
  }

  @media (min-width: $mobile) {
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    &__image-wrapper {
      img {
        max-width: 300px;
        max-height: 350px;
      }
    }
  }

  @media (min-width: $desktop) {
    &__title {
      font-size: 1.6rem;
    }
  }

  @media (min-width: $desktop-large) {
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    &__image-wrapper {
      img {
        max-width: 400px;
        max-height: 400px;
      }
    }
  }
}
