.card {
  background: white;
  display: inline-grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;

  &__image-wrapper {
    display: flex;
    img {
      max-width: 350px;
      max-height: 400px;
      object-fit: contain;
    }
  }

  @media (min-width: $mobile) {
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    &__image-wrapper {
      img {
        max-width: 450px;
        max-height: 450px;
      }
    }
  }

  &__content {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px 10px 20px 10px;
    gap: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  &__meta {
    color: grey;

    svg {
      margin-right: 5px;
    }
  }

  &__title {
    font-size: 1.6rem;
    line-height: initial;
    margin: 0;
  }

  &__type {
    &--Workshop {
      color: $color--workshop;
    }

    &--Talk {
      color: $color--talk;
    }
  }
}
