.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  section {
    margin: 25px ($paddings--mobile);
  }

  &__hero {
    .hero__subtitle {
      font-size: 1.2rem;
      img {
        width: 100%;
      }
    }
  }

  h2 {
    text-align: center;
    margin: 80px 0 50px 0;
  }
  &__linkList-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 80px;
  }

  &__codeSnippet-wrapper {
    width: 100%;
  }

  &__details-poster {
    max-width: 100%;
  }

  &__details-table {
    width: 100%;
    margin-top: 25px;
    thead {
      font-weight: 900;
      th {
        padding-bottom: 10px !important;
      }
    }
    td > span {
      width: 150px !important;
      word-wrap: anywhere;
    }
    text-align: center;
  }
  &__details-table-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $color--dark;
  }

  @media (min-width: $desktop) {
    section {
      margin: 150px ($paddings--mobile);
    }
    &__codeSnippet-wrapper {
      width: initial;
    }
    &__details-wrapper {
      width: 350px;
    }

    &__details-poster {
      width: 100%;
      max-width: 400px;
    }
  }
  @media (min-width: $desktop-large) {
    section {
      margin: 200px ($paddings--mobile);
    }
    &__details-wrapper {
      max-width: 500px;
    }

    .event__hero {
      margin: initial ($paddings--mobile);
    }
  }
}
