.archive {
  &__grid {
    justify-content: center;
    display: flex;
    gap: 5rem;
    align-items: center;
    margin: 40px 0;
    flex-wrap: wrap;
  }

  &__filter {
    &-text {
      text-align: center;
      font-size: 3rem;
      font-weight: 100;
      // font-family: $font--accent;
      text-decoration: underline;
      color: $color--teal;
      text-shadow: 2px 2px 4px #7dcaee;

      &--workshop {
        color: $color--workshop;
        text-shadow: 2px 2px 4px #7dcaee;
      }

      &--talk {
        color: $color--talk;
        text-shadow: 2px 2px 4px #ec7373;
      }
    }

    &-description {
      text-align: center;
      font-size: 1.3rem;
    }
  }
}
